// Navigation
.nav {
	bottom: 0;
    left: 0;
    position: fixed;
	width: 100%;
	background: #333333;
	border-top: 1px solid #5f6067;
}
.nav--ul {
	display: flex;
	justify-content: space-between;
	width: 85%;
	padding: 2.5% 7.5%;
}
.nav--ul-li {
	opacity: 0.5;
}
.active {
	opacity: 1;
	animation: active 0.5s ease;
}
@keyframes active {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}