.months {
	display: flex;
	overflow-x: scroll;
	background: $secondary-dark;
	padding: 5%;
}
.nav--ul-li-months {
	opacity: 0.5;
	padding: 20px;
}
.chart {
	width: 70%;
	padding: 15% 15%;
}
.empty {
	fill: $secondary-dark;
}
.inner-circle {
	fill: $main-dark;
}
.balance {
	position: absolute;
	width: 30%;
	left: 35%;
	top: 50%;
    -webkit-transform: translateX(-35%);
	transform: translateX(-35%);
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #ffffff;
	text-align: center;
}
.sum {
	font-size: 1.8em;
	padding: 0 0 1.5% 0;
}
.sum--coma {
	font-size: 0.5em;
	vertical-align: super;
}
.sum--label {
	opacity: 0.5;
}
.categorySpent {
	text-align: center;
	padding: 12.5% 0 0;
}
#categorySpentSum {
	font-size: 1.35em;
}
.categorySpentIcon {
	padding: 0 1.5% 0 0;
}