.months {
	display: flex;
	overflow-x: scroll;
	background: $secondary-dark;
	padding: 5%;
}
.nav--ul-li-months {
	opacity: 0.5;
	padding: 20px;
}
.chart {
	width: 70%;
	padding: 15% 15%;
}
.empty {
	fill: $secondary-dark;
}